.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

*exam*
*test*
*_cache*
*keys*
*grades*
*DS_Store*
*problem_sets/markdown_files_with_answers/*

Math18-master
admin_planning
problem_sets/2025-psets/